<!DOCTYPE html>
<html>
<head>
    <title>Some Site</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the submission page</h1>
    <% if(error) { %>
        <h3 class="errormsg"><%= error %></h3>
    <% } %>

    <form action="/submit" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="text" name="surname" placeholder="Surname" required />
        <input type="text" name="department" placeholder="Department" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="password" name="rpassword" placeholder="Repeat Password" required />
        <div class="radio-container">
            <label>
                <input type="radio" name="user_type" value="admin" required />
                Admin
            </label>
            <label>
                <input type="radio" name="user_type" value="user" required />
                User
            </label>
        </div>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
